$green: #47d18c;
$green-light: #b1dfc9;
$green-dark: #2eb873;

$blue: #1f8fff;
$blue-light: #85c2ff;
$blue-dark: #0075eb;

$orange: #faccb9;
$orange-light: #fcddd1;
$orange-dark: #f59a74;

$yellow: #fee5a4;
$yellow-green: #eaedb6;
$secondary-blue: #a4d8fe;
$purple: #aba4fe;
$pink: #fea4e5;

$seBlack: #2a2f46;
$seBlack-thin: #30364f;
$seBlack-bold: #252a3f;

$black: #8d9092;
$black-thin: #c6c7c8;
$black-bold: #1b2124;

$gray: #8d9092;
$gray-thin: #c6c7c8;
$gray-bold: #1b2124;

$light-gray: #f6f8f9;
$light-gray-thin: #f9f9f9;
$light-gray-bold: #f3f3f3;

$white: #ffffff;
$Beige: #fbf3e5;
$l-green: #d6f6e7;

$success: #34a853;
$success-hover: #78c58c;
$success-opacity: #bbe2c6;

$error: #e60019;
$error-hover: #e34657;
$error-opacity: #f7aab2;

$text-xl: 18px;
$text-l: 16px;
$text-m: 14px;
$text-sm: 12px;

$font-family: "Courier New", Courier, monospace;
